* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}
.button {
	padding: 5px 0;
	margin: 3px 3px;
	min-width: 80px;
	/*max-width: 40px;*/
}
.container {
	text-align: center;
	margin: auto;
}
#value {
	min-height: 22px;
}